/* ============================================================ */
.glassmorphism1 {
  -webkit-backdrop-filter: blur(1px) saturate(75%);
          backdrop-filter: blur(1px) saturate(75%);
  background-color: rgba(255, 255, 255, 0.1);
}

.glassmorphism2 {
  -webkit-backdrop-filter: blur(1px) saturate(75%);
          backdrop-filter: blur(1px) saturate(75%);
  background-color: rgba(0, 0, 0, 0.1);
}

/* ============================================================ */
.text-style-1 {
  background: -webkit-linear-gradient(315deg, #4acaff, #21d6bf);
  background: -o-linear-gradient(315deg, #4acaff, #21d6bf);
  background: linear-gradient(135deg, #4acaff, #21d6bf);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-style-2 {
  background: -webkit-gradient(linear, left top, right top, from(#0f11ee), to(#ee7f0c));
  background: -webkit-linear-gradient(left, #0f11ee, #ee7f0c);
  background: -o-linear-gradient(left, #0f11ee, #ee7f0c);
  background: linear-gradient(90deg, #0f11ee, #ee7f0c);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* ============================================================ */
.hover1 {
  position: relative;
}

.hover1::before,
.hover1::after {
  content: "";
  pointer-events: none;
  position: absolute;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  bottom: 0%;
  right: 0%;
}

.hover1::before {
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.hover1::after {
  border-top-width: 0px;
  border-right-width: 1px;
}

.hover1:hover {
  color: #fff;
}

.hover1:hover::before,
.hover1:hover::after {
  border-color: #21d6bf;
  -webkit-transition: border-color 0s, width 0s, height 0.1s;
  -o-transition: border-color 0s, width 0s, height 0.1s;
  transition: border-color 0s, width 0s, height 0.1s;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.hover1:hover::before {
  -webkit-transition-delay: 0s, 0s, 0s;
       -o-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
}

.hover1:hover::after {
  -webkit-transition-delay: 0s, 0s, 0s;
       -o-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
}

/* ============================================================ */
.bt {
  border-top: 1px solid white;
}

.br {
  border-right: 1px solid white;
}

.bb {
  border-bottom: 1px solid white;
}

.bl {
  border-left: 1px solid white;
}

/* ============================================================ */
