// colors
// $orange: #e1b838;
// $background: #272727;
// $hover: rgba(255, 255, 255, 0.22);
// $hover-menu: rgba(255, 255, 255, 0.1);
// $starblue: #4acaff;
// $stargreen: #21d6bf;
// $line: #21d6bf;
// $line: rgb(11, 110, 96);
// $line: #ca7d3e;
$linear-gradient: linear-gradient(135deg, #ff9945 0%, #f53e90 15%, #3d8af5 75%);


// mixins
@mixin center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@mixin adaptive_block($w: 50, $h: 50, $containerWide: 0) {
    background-size: contain;
    @if $containerWide == 0 {
        width: $w + vw;
        height: $h + vw;
    } @else {
        width: ($w/$containerWide) * 100%;
        max-height: $h + px;
        height: ($h/$containerWide) * 100vw;
    }
}

@mixin text-style-1 {
    // background: linear-gradient(135deg, #4acaff, #21d6bf);
    background: $linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    // background-color: rgba(0, 0, 0, 1);
}
// @mixin text-style-2 {
//     background: linear-gradient(90deg, #0f11ee, #ee7f0c);
//     background-clip: text;
//     -webkit-background-clip: text;
//     text-fill-color: transparent;
//     -webkit-text-fill-color: transparent;
// }

/* ============================================================ */

.glassmorphism1 {
    backdrop-filter: blur(1px) saturate(75%);
    background-color: rgba(255, 255, 255, 0.1);
}
.glassmorphism2 {
    backdrop-filter: blur(1px) saturate(75%);
    background-color: rgba(0, 0, 0, 0.1);
}

/* ============================================================ */

.text-style-1 {
    @include text-style-1;
}
// .text-style-2 {
//     @include text-style-2;
// }

/* ============================================================ */

.hover1 {
    position: relative;
}
.hover1::before,
.hover1::after {
    content: '';
    pointer-events: none;
    position: absolute;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    bottom: 0%;
    right: 0%;
}
.hover1::before {
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.hover1::after {
    border-top-width: 0px;
    border-right-width: 1px;
}
.hover1:hover {
    color: #fff;
}
.hover1:hover::before,
.hover1:hover::after {
    // border-color: #21d6bf;
    transition: border-color 0s, width 0s, height 0.1s;
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    border-radius: 0 0 10px 10px;
}
.hover1:hover::before {
    transition-delay: 0s, 0s, 0s;
}
.hover1:hover::after {
    transition-delay: 0s, 0s, 0s;
}

/* ============================================================ */

.bt {
    border-top: 1px solid white;
}
.br {
    border-right: 1px solid white;
}
.bb {
    border-bottom: 1px solid white;
}
.bl {
    border-left: 1px solid white;
}

/* ============================================================ */
